# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local
.env.test
backend/.env.test
frontend/.env.test

# Misc
.DS_Store
*.log
.vscode/
.idea/